---
import Card from "./Card.astro";
const { TypeSection, Headline, ArticleType, ArticleTitle } = Astro.props;
---

<section>
  <p>{TypeSection}</p>
  <h2>{Headline}</h2>
  <Card {ArticleType} {ArticleTitle} />
  <Card {ArticleType} {ArticleTitle} />
  <Card {ArticleType} {ArticleTitle} />
</section>

<style>
  /* Grey Section style */
</style>
